template(name="twitterBrandcloud")

  +pageHeading title='Social Brand Cloud' category='Twitter Profile'

  .wrapper.wrapper-content.animated.fadeInRight
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Social Brand Cloud
          .ibox-content(style="background-color: rgba(0, 0, 255, 0.07);")
            #brandcloud
            .pull-right
              +infoButton
            br
            br
            br

  +Template.dynamic template="popupWindow" data=popupData
  +Template.dynamic template="infoWindow" data=infoData


