template(name="blueprint")

  +pageHeading title='Brand Blueprint'

  .row
    .col-lg-12
      .wrapper.wrapper-content.animated.fadeInRight.article
        .row
          .col-lg-12
            .ibox-content
              .text-center

                h2 
                  b A nifty feature coming soon!
                br
                p To help your brand become Core Value Driven.
                br
                p A space to create, define, and hone your brand personality.


template(name="advocates")

  +pageHeading title='Brand Advocates'

  .row
    .col-lg-12
      .wrapper.wrapper-content.animated.fadeInRight.article
        .row
          .col-lg-12
            .ibox-content
              .text-center

                h2 
                  b Who are the best people in your audience to promote your brand?
                br
                p Are they the ones who shout the loudest?
                br
                p Or is there a deeper connection required? 
                br
                p 
                  b Coming Soon
                p Find your most passionate and influential brand advocates that believe in your values.



