template(name="adminAdvocates")

  +pageHeading title='Advocates' category='Admin Dashboard'

  #admin-advocates
    .wrapper.wrapper-content.animated.fadeInRight
      .row
        .ibox.float-e-margins
          .ibox-content
            .row
              .col-lg-12
                table.table
                  thead
                    tr
                      th
                      th Tweets
                      th Followings
                      th Followers
                      th Days old
                      th Social Authority
                      th Brand Advocate Rating
                  tbody
                    tr
                      td @ASUSUSA
                      td 28,932
                      td 231,332
                      td 33,342,444
                      td 3,320
                      td 100
                      td 85%
                    tr
                      td @Honest
                      td 8,822
                      td 12,382
                      td 3,117,884
                      td 1,320
                      td 88
                      td 88%
                    tr
                      td @daithiorourke
                      td 38,233
                      td 111,881
                      td 342,444
                      td 1,320
                      td 66
                      td 77%
                    tr
                      td @splitforceAB
                      td 18,932
                      td 123,780
                      td 23,342,444
                      td 4,280
                      td 70
                      td 95%

