template(name="adminUserList")

  +pageHeading title='User List' category='Admin Dashboard'
  .row
    +history

  .wrapper.wrapper-content.animated.fadeInRight
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title 
            h5 Button Usage
            +iboxTools
          .ibox-content
            //p View: See the details for the user
            h3 Re-Analyze: 
            p Re-analyze the domain using the current crawled pages
            p If we upgrade algorithm, analyze it without re-crawl the pages
            p
            br
            h3 Re-Profile: 
            p Re-profile the domain
            p crawl first and then analyze

    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 User List
          .ibox-content(style="overflow: auto;")
            .row
              h3 There are {{numOfUser}} users
              br
            .row
              table.table
                thead
                  tr
                    th User Id
                    th Email
                    th Website
                    th Sincerity
                    th Excitement
                    th Competence
                    th Sophistication
                    th Ruggedness
                    th CreatedBy
                    th CreatedAt
                    th Similar Sites
                tbody
                  each users
                    tr
                      td {{_id}}
                      td {{email}}
                      td {{website.domain}}
                      td {{character.sincerity}}
                      td {{character.excitement}}
                      td {{character.competence}}
                      td {{character.sophistication}}
                      td {{character.ruggedness}}
                      td {{createdBy}}
                      td {{createdAt}}
                      td
                        button.btn.btn-primary.analyze-btn Re-Analyze
                        button.btn.btn-primary.profile-btn Re-Profile
                        button.btn.btn-danger.impersonate Impersonate
                        if hasTwitter
                          span
                        else
                          br
                          span Twitter Handle
                          input.input-twitter(type="text")
                          button.btn.btn-danger.add-twitter Add-Twitter
                        button.btn.btn-primary.history-btn History
                      td
                        each similarWebsites
                          p {{this}}
                    if hasTwitter
                      tr
                        td
                        td
                        td {{twitter.twitterScreenName}}
                        td {{twitterCharacter.sincerity}}
                        td {{twitterCharacter.excitement}}
                        td {{twitterCharacter.competence}}
                        td {{twitterCharacter.sophistication}}
                        td {{twitterCharacter.ruggedness}}
                        td {{twitter.createdByEmail}}
                        td
                        td
                          with twitter
                            button.btn.btn-danger.remove-twitter Remove Twitter
                        

    
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Add New User
          .ibox-content
             form.form-horizontal#admin-create-user-form
                .form-group
                  label.col-sm-2.control-label(for="") Email
                  .col-sm-10
                    input#user-email.form-control(type="email", placeholder="Email", required)
                .form-group
                  label.col-sm-2.control-label(for="") Password
                  .col-sm-10
                    input#user-password.form-control(type="input", placeholder="Password", value="brand123", disabled)
                .form-group
                  label.col-sm-2.control-label(for="") Website 
                  .col-sm-10
                    input#user-domain.form-control(type="input", placeholder="domain.com", required="required")
                 .form-group
                   .col-sm-2
                   .col-sm-10
                     button.btn.btn-primary Add
