template(name="twitterNotSet")

  //+pageHeading title=title category=category
  +pageHeading title=title category=category

  .row
    .col-lg-12
      br
      .alert.alert-warning
        span Please go to
        a(href="/settings") Setting Page
        span to setup your twitter account first
