template(name="websiteBrandcloud")

  +pageHeading title='Website Cloud' category='Website Profile'

  .wrapper.wrapper-content.animated.fadeInRight
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Website Brand Cloud
          .ibox-content(style="background-color: rgba(0, 0, 255, 0.07);")
            #brandcloud

