template(name="websiteBrandcloud")

  +pageHeading title='Website Brand Cloud' category='Website Profile'

  .wrapper.wrapper-content.animated.fadeInRight
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Website Brand Cloud
          .ibox-content
            #brandcloud

