template(name="websiteCharacter")

  +pageHeading title='Website Character' category='Website Profile'

  .wrapper.wrapper-content.animated.fadeInRight
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Website Character
          .ibox-content
            .row
              .col-lg-7
                .character-chart#character

              .col-lg-5
                h3 The Concentrated Brand
                p This brand relies on one single dimension in order to send a strong and unequivocal message to its audience. This is a good strategy for many brands as it allows for a more powerful impact on the audience. The concentrated brand approach is a sensible strategy for brands who wish to make a statement and establish a clear presence in the early stages of a brand’s life cycle, or for those who are focusing on appealing to a psychographically well-defined and homogenous target market.
                br

                h3 The Balanced Brand
                p This brand underscores two prominent brand identity dimensions, which represents a balanced communication strategy. By combining the values contained within two distinct dimensions, the balanced or zen brand refines and hones its personality to reflect other key core values critical to its identity. This also allows the brand to broaden its appeal and may attract a wider audience provided the brand managers are able to keep the core message clear and inspiring.
                br

                h3 The Diversified Brand
                p Counting on three dimensions, more established brands use specifically designed marketing campaigns to help associate the brand with values and dimensions not typically directly associated with the core values of the brand in its early days. These more mature brands grow and modify their brand image in such ways to adapt their image to the evolving marketplace as well as to energize and expand their target audience.
                br 
            +infoButton


  +characterTooltips
  +Template.dynamic template="popupWindow" data=popupData
  +Template.dynamic template="infoWindow" data=infoData

