template(name="websiteCharacter")

  +pageHeading title='Website Character' category='Website Profile'
  .wrapper.wrapper-content.animated.fadeInRight
    .row
      .col-lg-12
        .ibox.float-e-margins

          .ibox-title
            h5 Website Character

          .box-content
            .row
              .col-lg-6
                p wew
