template(name="websiteValues")

  +pageHeading title='Website Values' category='Website Profile'

  .wrapper.wrapper-content.animated.fadeInRight
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Overall
          .ibox-content
            #overall.values-chart

    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Sincerity
          .ibox-content
            #sincerity.values-chart

    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Excitement
          .ibox-content
            #excitement.values-chart

    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Competence
          .ibox-content
            #competence.values-chart

    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Sophistication
          .ibox-content
            #sophistication.values-chart

    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Ruggedness
          .ibox-content
            #ruggedness.values-chart


  +valuesTooltips
