.character-chart {
  width   : 100%;
  height    : 500px;
  font-size : 11px;  
}
.values-chart {
  width   : 100%;
  height    : 500px;
  font-size : 11px;  
}                   

.amcharts-export-menu-top-right {
  top: 10px;
  right: 0;
}   
