template(name='navigation')
  nav.navbar-default.navbar-static-side(role='navigation')
    .sidebar-collapse

      a.close-canvas-menu
        i.fa.fa-times

      ul#side-menu.nav
        li.nav-header
          .dropdown.profile-element
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              span.clear
                span.block.m-t-xs
                  strong.font-bold {{user}}
                |  
                span.text-muted.text-xs.block
                  | {{website}}
                //  b.caret

            //ul.dropdown-menu.animated.fadeInRight.m-t-xs
            //  li
            //    a(href='#') Item
            //  li
            //    a(href='#') Item
            //  li.divider
            //  li
            //    a(href='#') Item

          .logo-element
            | B


        //li(class="{{isActiveRoute regex='domainCharacter|domainValues|domainCloud'}}")
        li
          a(href="#")
            i.fa.fa-university
            span.nav-label Website Profile
            span.fa.arrow
          ul.nav.nav-second-level
            li
              //a(href="{{pathFor route='domainCharacter'}}") Character
              a(href="/website/{{websiteId}}/character") Character
            li
              //a(href="{{pathFor route='domainValues'}}") Values
              a(href="/website/{{websiteId}}/values") Values
            li
              a(href="/website/{{websiteId}}/brandcloud") Brand cloud
              //a(href="{{pathFor route='domainCloud'}}") Brand Cloud

        li
          a(href="#")
            i.fa.fa-users
            span.nav-label Social Profile
            span.fa.arrow
          ul.nav.nav-second-level
            if hasTwitter
              li
                a(href="/twitter/{{twitterId}}/character") Character
              li
                a(href="/twitter/{{twitterId}}/values") Values
              li
                a(href="/twitter/{{twitterId}}/brandcloud") Brand Cloud
            else
              li
                a(href="/twitterNotSet?title=Social Character") Character
              li
                a(href="/twitterNotSet?title=Social Values") Values
              li
                a(href="/twitterNotSet?title=Social Cloud") Brand Cloud

        li
          a(href="#")
            i.fa.fa-columns
            span.nav-label Brand Harmony
            span.fa.arrow
          ul.nav.nav-second-level
            if hasTwitter
              li
                a(href="/harmony/{{websiteId}}/{{twitterId}}/character") Character
              li
                a(href="/harmony/{{websiteId}}/{{twitterId}}/values") Values
              li
                a(href="/harmony/{{websiteId}}/{{twitterId}}/brandcloud") Brand Cloud
            else
              li
                a(href="/twitterNotSet?title=Character Harmony") Character
              li
                a(href="/twitterNotSet?title=Values Harmony") Values
              li
                a(href="/twitterNotSet?title=Cloud Harmony") Brand Cloud

        li
          a(href="/blueprint")
            i.fa.fa-pencil-square-o
            span.nav-label Brand Blueprint

        li
          a(href="/advocates")
            i.fa.fa-thumbs-up
            span.nav-label Brand Advocates

        //li
        //  a(href="{{pathFor route='share'}}")
        //    i.fa.fa-share
        //    span.nav-label Share

        li
          a(href="/settings")
            i.fa.fa-cog
            span.nav-label Settings

        if isInRole 'admin'
          li
            a(href="#")
              i.fa.fa-dashboard
              span.nav-label Admin Dashboard
              span.fa.arrow
            ul.nav.nav-second-level
              li
                a(href="/admin/userList") User List
              li
                a(href="/admin/instantProfiles") Instant Profiles
              li
                a(href="/admin/blueprint") Brand Blue Print
