template(name='topNavbar')
  .row.border-bottom
    nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
      .navbar-header
        a#navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
          i.fa.fa-bars

        //form.navbar-form-custom(role='search', action='search_results')
        //  .form-group
        //    input#top-search.form-control(type='text', placeholder='Search for something...', name='top-search')

      ul.nav.navbar-top-links.navbar-right
        li
          a#logout(href='#')
            i.fa.fa-sign-out
            |  Log out
