template(name="signupPopup")
  .modal.inmodal#signupPopup(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog
      .modal-content.animated.bounceInRight
        .modal-header 
          .button.close(data-dismiss="modal")
            span(aria-hidden="true") &times;
            span.sr-only Close
          //i.fa.fa-laptop.modal-icon
          h4.modal-title DIG DEEPER
          //small.font-bold {{smallTitle}}
        .modal-body
          .text-center
            img(src="/images/fullprofiler-screenshot.png", style="width: 100%;")
            br
            br
            h3 Create a Free Account
            h3 Access More Key Brand Information
            br
            button.btn.btn-primary#signupBtn Create Account Now
            br
            br
            br
            br
            h3 ALL THESE FEATURES FREE
            p - Analyze Your Twitter Feed
            p - Save Your Complete Profile  
            p - Extended Core Value Analysis 
            p - Expanded Brand Benchmarks
            p - Discover Key Vocabulary in the Brand Cloud 
            p - Check Your Brand Harmony Between Web and Social 
            br
            br
            h3 UPDATES COMING SOON 
            p - Brand Advocates: Find your optimal supporters 
            p - Brand Monitor: Find great testimonials 
            p - Brand Blueprint: Hone your brand image 
            br
            br
            br

        .modal-footer
          .button.btn.btn-white(type="button", data-dismiss="modal") Close

template(name="popupWindow")
  .modal.inmodal#popupWindow(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog
      .modal-content.animated.bounceInRight
        .modal-header 
          .button.close(data-dismiss="modal")
            span(aria-hidden="true") &times;
            span.sr-only Close
          //i.fa.fa-laptop.modal-icon
          h4.modal-title {{title}}
          small.font-bold {{smallTitle}}
        .modal-body
          p
            strong {{strongDescription}}
          each descriptions
            p {{this}}

        .modal-footer
          .button.btn.btn-white(type="button", data-dismiss="modal") Close

template(name="infoWindow")
  .modal.inmodal#infoWindow(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog
      .modal-content.animated.bounceInRight
        .modal-header 
          .button.close(data-dismiss="modal")
            span(aria-hidden="true") &times;
            span.sr-only Close
          //i.fa.fa-laptop.modal-icon
          h4.modal-title {{title}}
          small.font-bold {{smallTitle}}
        .modal-body
          if imageUrl
            div(style="text-align: center;")
              img(src="{{imageUrl}}" width="{{imageWidth}}")
            br
          p
            strong {{strongDescription}}
          each descriptions
            p {{{this}}}

        .modal-footer
          .button.btn.btn-white(type="button", data-dismiss="modal") Close

template(name="infoButton")
  button.btn.btn-info.btn-lg.btn-circle(type="button", data-toggle="modal", data-target="#infoWindow")
    i.fa.fa-info
