template(name="signupPopup")
  .modal.inmodal#signupPopup(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog
      .modal-content.animated.bounceInRight
        .modal-header 
          .button.close(data-dismiss="modal")
            span(aria-hidden="true") &times;
            span.sr-only Close
          //i.fa.fa-laptop.modal-icon
          h4.modal-title ALSO ANALYZE YOUR TWITTER FEED
          //small.font-bold {{smallTitle}}
        .modal-body
          .text-center
            img(src="/images/twitter-and-brandkoop.png", style="width: 100%;")
            br
            br
            h3 Signup by email to get:
            br
            p Just signup for the Full Profiler (still free)
            br
            button.btn.btn-primary#signupBtn Sign Up Now
            br
            br
            br
            br
            h3 Also you get these features, too:
            p * your brand profile saved (free)
            p * more data to check out (free)
            br
            br
            p Plus:
            br
            h3 Updates Coming Soon
            br
            p * find your strongest brand advocates
            p * check your new content for brand identity
            br
            br
            br

        .modal-footer
          .button.btn.btn-white(type="button", data-dismiss="modal") Close

template(name="popupWindow")
  .modal.inmodal#popupWindow(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog
      .modal-content.animated.bounceInRight
        .modal-header 
          .button.close(data-dismiss="modal")
            span(aria-hidden="true") &times;
            span.sr-only Close
          //i.fa.fa-laptop.modal-icon
          h4.modal-title {{title}}
          small.font-bold {{smallTitle}}
        .modal-body
          p
            strong {{strongDescription}}
          each descriptions
            p {{this}}

        .modal-footer
          .button.btn.btn-white(type="button", data-dismiss="modal") Close

template(name="infoWindow")
  .modal.inmodal#infoWindow(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog
      .modal-content.animated.bounceInRight
        .modal-header 
          .button.close(data-dismiss="modal")
            span(aria-hidden="true") &times;
            span.sr-only Close
          //i.fa.fa-laptop.modal-icon
          h4.modal-title {{title}}
          small.font-bold {{smallTitle}}
        .modal-body
          if imageUrl
            div(style="text-align: center;")
              img(src="{{imageUrl}}" width="{{imageWidth}}")
            br
          p
            strong {{strongDescription}}
          each descriptions
            p {{{this}}}

        .modal-footer
          .button.btn.btn-white(type="button", data-dismiss="modal") Close

template(name="infoButton")
  button.btn.btn-info.btn-lg.btn-circle(type="button", data-toggle="modal", data-target="#infoWindow")
    i.fa.fa-info
