template(name="index")
  +loginButtons
  br
  .animated.fadeInRight
    .row
      .col-md-4
        div(style="position: absolute; top: 20px; right: 20px;")
          //+indexTwitterButton
        .ibox.float-e-margins(style="max-width: 720px; margin: 0 auto;")
          //.ibox-title
          //  h5 wew
          .ibox-content(style="text-align: center;")
            br
            br
            br
            h1 
              b Is your website honest, charming, or unique?
            br
            br
            p "Excellent tool to get an external algorithm driven perspective on what core values and brand traits you are actually communicating."
            p 
              span - Robin
              span(style="text-decoration:underline;") tool.robingood.com
            br
            br

            +autoForm collection="InstantProfiles" id="insertInstantProfileForm" type="normal"
              div(style="padding: 20px 20px 10px 20px; background-color: rgb(77, 156, 199);")
                h2(style="color: white; font-weight: bold;") A FREE TOOL TO DISCOVER YOUR BRAND PERSONALITY
                br
                +afFieldInput name="domain" style="height: 60px;" placeholder="Your Website URL"
                br
                button.btn.btn-primary(type="submit", style="height: 60px; width: 100%; background-color: black;") INSTANT ANALYSIS
                .help-block(style="color: red;") {{afFieldMessage name='domain'}}
      .col-md-8
        .row
          .col-md-6
            +Template.dynamic template="exampleProfile" data=slack
          .col-md-6
            +Template.dynamic template="exampleProfile" data=blueBottle
          .col-md-6
            +Template.dynamic template="exampleProfile" data=honest
          .col-md-6
            +Template.dynamic template="exampleProfile" data=redBull


template(name="exampleProfile")
  .ibox
    .ibox-content.product-box
      .example-profile-popup(style="margin-left: 50px;")
          img(src="{{valuesChartImg}}" height="200")
      .product-imitation(style="padding: 30px 0; background-color: white;")
        div(style="height: 160px; line-height: 160px; width: 100%; text-align: center;")
          img(src="{{img}}" width="160")
      .product-desc
        small.text-muted
        a.product-name.see-profile(href="#")  {{name}}
        .small.m-t-xs 
        .m-t.text-right
          a.btn.btn-xs.btn-outline.btn-primary(style="cursor: pointer; height: 30px; line-height: 30px;") 
            span.see-profile See Profile
            i.fa.fa-long-arrow-right

