template(name="instantProfilerLimited")
  .wrapper.wrapper-content.animated.fadeInRight

    .row
      .col-lg-12
        .wrapper.wrapper-content.animated.fadeInRight.article
          .row
            .col-lg-12
              .ibox-content
                .text-center
                  .sk-spinner.sk-spinner-pulse
                  h1 Please wait 5 minutes to profile your next website
                  a.btn.btn-primary(href="/") Back

