template(name="instantProfilerResult")
  .wrapper.wrapper-content.animated.fadeInRight
    if profile.profiled
      +instantProfilerResultProfiled
    else
      +instantProfilerResultProfiling


template(name="instantProfilerResultProfiled")
  .row
    .col-lg-12
      .text-center
        h1 Brandkoop Instant Profiler
        p {{profile.domain}}

  br
  br
  br

  .row
    .col-lg-12
      .ibox.float-e-margins(style="max-width: 720px; margin: 0 auto;")
        .ibox-title
          h5 Website Character

        .ibox-content
          #character.character-chart

  br
  br
  br

  .row
    .col-lg-12
      .ibox.float-e-margins(style="max-width: 720px; margin: 0 auto;")
        .ibox-title
          h5 Website Values

        .ibox-content
          #values.values-chart

    //.col-lg-12(style="text-align: center;")
    //  br
    //  br
    //  br
    //  +instantProfilerResultTweet

template(name="instantProfilerResultProfiling")
  .row
    .col-lg-12
      .text-center
        h1 Profiling ...
        p {{profile.domain}}
      
    
