template(name="instantProfilerResult")

  
  .wrapper.wrapper-content.animated.fadeInRight
    .row
      .col-lg-12
        h1(style="text-align: center;") Profiling ...
        p(style="text-align: center;") {{profile.url}}
        br
        br
      .col-lg-12
        .ibox.float-e-margins(style="max-width: 720px; margin: 0 auto;")
          .ibox-title
            h5 Website Values

          .ibox-content
            p wew

