template(name="instantProfilerResult")
  #instantProfilerResult
    +signupPopup
    .wrapper.wrapper-content.animated.fadeInRight
      if profile.profiled
        +instantProfilerResultProfiled
      else
        +instantProfilerResultProfiling


template(name="instantProfilerResultProfiled")
  .row
    .col-md-4.col-md-offset-4
      .text-center
        h2 Brand Personality Insights of
        h3 {{profile.domain}}
    .col-md-4.referer-only(style="display: none")
      h4 Instantly Profile Your Brand's Personality
      +autoForm collection="InstantProfiles" id="insertInstantProfileForm" type="normal"
        .input-group
          //input#instant-profiler-url.form-control(type="text", style="height: 60px;", placeholder="Website URL")
          +afFieldInput name="domain" style="height: 60px;" placeholder="Website URL"
          span.input-group-btn
            button.btn.btn-primary(type="submit", style="height: 60px; width: 100px;") Profile
        .help-block(style="color: red;") {{afFieldMessage name='domain'}}

  br
  br
  br

  .row.website-character
    .col-md-12
      //.ibox.float-e-margins(style="max-width: 720px; margin: 0 auto;")
      .ibox.float-e-margins
        .ibox-title
          h5 Website Character

        .ibox-content
          .row
            .col-md-6
              #character-chart.character-chart
              p *Hover over the chart for more details
              p *Scores in chart indicate frequency of "Brand Character" terms 
            .col-md-6
              #character-description
                h3 
                section
                  p
                    b 5 broad orientations of the Brand Pentagon containing 40 specific core values, this is how all brands inspire their audience.
                  p
                    b Welcome to the Science of Branding!
                  h2 
                    b How Does Your Audience See Your Brand?

                  p As you might expect, the language you use on your site turns some people into fans and leaves others indifferent because they simply value different things. By being aware of these connections you can evaluate your content in terms of the values it embodies, and make modifications to your communication strategy if necessary.
                  p Some famous marketing campaigns have focused on specific core values to create powerful emotions in the hearts of their audience.
                  ul(style="margin-left: 20px;")
                    li "Think Different" - Imaginative
                    li "Just Do It" - Successful
                    li "Got Milk?" - Down-to-Earth
                    li "You’re in Good Hands with Allstate" - Secure
                    li "We Try Harder" - Hard Working.
                
                h3
                section
                  h2 
                    b Brand Character: "The Pentagon"
                  p Your brand character pentagon represents either a concentrated, balanced, or diversified brand depending on how many of the five dimensions you engage in. Concentrated if you clearly only prioritize one dimension, balanced in the case of two dimensions, or diversified for three dimensions. Each dimension stands for a broad orientation of the brand. The five dimensions are:
                  ol(style="")
                    li Sincere, "We care about people."
                    li Excitement, "Let’s have some fun!"
                    li Competence, "Trust us, we are the experts."
                    li Sophisticated, "Looks and Status are ours."
                    li Ruggedness, "We’re tough, period." (also includes outdoorsy brands)
                  p As a rule of thumb, early stage brands should strive to adopt a concentrated or balanced brand character approach in order to send a very clear message to their audience. Later on, brands often tend to diversify to appeal to a broader audience. They become more mainstream.


                h3
                section
                  p.brand-point 
                    b Brand Point: 
                    span Be true to your main orientation, that's the larger purpose of your brand.


  br
  br
  br

  .row.website-values
    .col-md-12
      //.ibox.float-e-margins(style="max-width: 720px; margin: 0 auto;")
      .ibox.float-e-margins
        .ibox-title
          h5 Website Values

        .ibox-content
          +valuesTooltips
          .row
            .col-md-6
              #values-chart.values-chart
              p *Hover over the chart for more details
              p *Scores in chart indicate frequency of "Brand Value" terms 
            .col-md-6
              #values-description
                h3 35 Ways
                section
                  h2
                    b CREATE EMOTIONAL CONNECTIONS WITH CORE VALUES 
                  p Did you know that there are 35 broad ways to connect emotionally with an audience? Each core value represents an area of major importance in the psyche of consumers, and connecting with people who are aligned or inspired by your brand’s own core values is to key to trigger a powerful emotional response at the heart of your potential target customer.

                h3 Core Values
                section
                  h2 
                    b Brand Values: Primary Core Values
                  p Your primary core values consist of the key values your brand is known for. It could be just one core value, but no more than five. These values are closely associated to your brand’s beliefs, it is what the brand stands for, its purpose. The aim of these values is to inspire others by appealing to their aspirations, your brand then becomes a bridge between who your customers are and who they want to be.

                h3 Analysis
                section
                  h2 
                    b Core Values Analysis
                  p Based on your core values, is your brand adopting a concentrated, balanced, or diversified communication strategy?  Here is how to find out:
   
                  ul(style="margin-left: 20px;")
                    li Concentrated: 1 or 2 dominant values belonging to the same orientation.
                    li Balanced: 2 to 4 dominant values belonging to no more than 2 orientations.
                    li Diversified: 5 equally distributed dominant core values belonging to two or more orientations.
                  br

                  p Strengthening your brand personality is achieved by producing content (text, image, video) associated with your dominant core values. The resulting engaging emotional connection with your audience leads them to action. 

                h3 Benchmarks
                section
                  h2 
                    b 
                  img(src="/images/instant/Charming.png" width="300")
                  br
                  p With call to action at the bottom
                  p "To see more key brand information"
                  a.btn.btn-primary(href="/signup") Create an Account" 






    .col-md-12(style="text-align: center;")
      br
      br
      //p {{tweetText}}
      h2 
        b Tweet Your Profile
      #instantProfilerResultTweet
        //+instantProfilerResultTweet text=tweetText
      //#tweet
      //+shareit
      br
      br
      br

template(name="instantProfilerResultProfiling")
      
    
  .row
    .col-lg-12
      .wrapper.wrapper-content.animated.fadeInRight.article
        .row
          .col-lg-12
            .ibox-content
              .text-center
                .sk-spinner.sk-spinner-pulse
                h1 So ... right now we're analyzing your site.
                h3 {{profile.domain}}
                br

                h3 We gotta extract some words and crunch some numbers to give the best profile possible. 
                h3 This will take about 1 minute. 

              br

              .text-center
                //a.btn.btn-primary(href="{{pathFor 'domainCharacter'}}") Get a Head Start
                p Result will appear soon.

