/* hide tablist */
.wizard ul.tablist li {
  width: 150px;
  line-height: 30px;
  height: 20px;
}
.wizard ul {
  display: none;
}

/* change the color of the action buttons */
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
  background-color: #1ab394;
}

/* move action button to top */
.wizard .content {
  top: 40px;
}
.wizard .actions{
  position: absolute;
  top: 0;
  right: 20px;
}

