template(name="harmonyBrandcloud")

  +pageHeading title='Cloud Harmony' category='Harmony'

  .wrapper.wrapper-content.animated.fadeInRight
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Harmony Brand Cloud
          .ibox-content
            .row
              .col-lg-6
                #website-brandcloud
              .col-lg-6
                #twitter-brandcloud

